body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #5e5e5e;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: content-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 0px;
}

/* Container*/

.container {
  width: 100%;
  max-width: 940px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main*/

.main {
  background: #2b2f37 url(./img/intro-bg.png) top center no-repeat;
  background-size: cover;
}

/* Header*/
.header {
  border-bottom: solid 1px #3a393e;
}
.header__inner {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  height: 100px;
  align-items: baseline;
  justify-content: space-between;
}
.header__logo {
  font-weight: bold;
  font-size: 16px;
}
.span__header {
  color: #e84c3d;
}

/* nav*/

.nav {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  text-transform: uppercase;
}

/* Button*/

.btn {
  padding: 10px 25px;
  background: none;
  text-transform: uppercase;
  color: #fff;
  border: solid 1px;
  border-color: #e84c3d;
}

/* Intro*/

.intro {
  padding: 100px 0 130px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 15px;
}

.intro__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  padding-bottom: 40px;
}

.btn__red {
  background-color: #ca4d40;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 60px;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}
.link.link--intro {
  font-size: 12px;
  margin: 0;
  text-decoration: underline;
}

/*Features*/

.features {
  background-color: #2b2f37;
  padding: 50px 0;
  text-align: center;
}

.features__flex {
  max-width: 970px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.features__item {
  margin: 0 30px;
}
.features__icon {
  padding-bottom: 40px;
}

.features__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.features__text {
  padding-bottom: 25px;
}

.link.link--features {
  color: #e84c3d;
  margin: 0;
  text-decoration: underline;
}

/*Search*/

.search {
  background-color: #fff;
  margin: 40px 0 50px;
}

.title__h2 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 300;
  font-size: 40px;
  line-height: 0.5;
  padding-bottom: 25px;
}

.search__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: black;
  padding-bottom: 35px;
}

.search__find {
  padding-bottom: 40px;
}
.search_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr 4fr);
}

.grid_icon1 {
  width: fit-content;
}

.search__title {
  font-weight: 700;
  line-height: 1.3;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.searchItem_text {
  font-weight: 400;
  color: #5e5e5e;
  line-height: 1.4;
}

/*Database*/

.database {
  background-color: #31333b;
  padding: 70px 0 20px;
}
.database__item {
  min-width: 250px;
}

.title__h2.title__h2--database {
  color: #fff;
  padding-bottom: 45px;
}

.search__title.search__title-database {
  color: #fff;
  padding: 0;
}

.searchItem_text.searchItem_text-database {
  color: #9aa1a1;
  padding-bottom: 80px;
}

/* Plan*/

.title__h2.title__h2--plan {
  padding: 80px 0 25px;
}

.search__text.search__text--plan {
  padding-bottom: 40px;
}

.plan {
  text-align: center;
}

.grid__plan {
  display: grid;
  grid-template-columns: 260px 300px 260px;
  padding-bottom: 50px;
}

.plan__item {
  border: solid 1px #7c7c7c;
  padding: 0 20px;
}

.plan__header {
  padding: 30px 0px 20px;
  border-bottom: solid 1px #7c7c7c;
}

.plan__content {
  padding: 10px 20px;
}

.plan__item--orange {
  background-color: #2c3039;
  padding: 0;
}

.plan__item--orange .plan__header {
  background-color: #e84c3d;
}
.plan__title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.search__text.search__text--plan {
  font-size: 14px;
  padding: 0;
}
.plan__features {
  font-weight: 400;
  color: #5e5e5e;
  padding-top: 30px;
  list-style-type: none;
}
.plan__feature1 {
  font-family: "Roboto", sans-serif;
  color: #000;
  padding-bottom: 20px;
}

.plan__feature {
  padding-bottom: 10px;
}

.btn__red.btn__red--order {
  margin-top: 15px;
  padding: 20px 70px;
  background-color: #31333b;
  color: #fff;
}
.plan__feature1.plan__feature1--business {
  color: #fff;
}
.plan__feature.plan__feature--business {
  color: #fff;
}
.btn__red.btn__red--order.btn__red--busines {
  background-color: #e84c3d;
}

.plan__subtext {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/*Testimonials*/
.testimonials {
  padding-bottom: 80px;
}
.test__img {
  padding: 10px 0 35px;
}

.testimonials__com {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  padding-bottom: 25px;
}
.test__face {
  padding-bottom: 25px;
}
.author {
  padding-bottom: 50px;
}

/*blog*/

.blog {
  display: flex;
  align-items: center;
  padding: 20px 30px 20px 40px;
  border-bottom: solid 1px #ebebeb;
  opacity: 0.5;
}
.blog:hover {
  opacity: 1;
}

.blogtext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  line-height: 1.5;
}
.data {
  color: #5e5e5e;
  line-height: 2.1;
  font-size: 12px;
}
.blog__img {
  padding-left: 30px;
}
.link.link--blog {
  text-transform: unset;
  text-decoration: underline;
}

/* Maps */
.maps {
  margin-top: 40px;
  position: relative;
}
.maps__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 30px;
  padding-bottom: 32px;
}
.address {
  color: #000;
  font-weight: 400;
  padding-bottom: 50px;
  font-size: 18px;

}  

.map_content {
  position: absolute;
  background-color:rgba(251, 249, 249, 0.700);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 180px 0;
}

.maps__text {
  width: 620px;
  margin: 0 auto;
}

.address_2 {
  color: #000;
  font-size: 16px;
}
.link.link--blog.link--maps {
  color: red;
  font-weight: 400;
  padding-left: 40px;
}




/* Follow  */

.follow {
  background-color: #31343c;
  height: 70px;
  width: 100%;
}
.container_follow {
  display: flex;
  max-width: 990px;
  align-items: center;
  height: 100%;
  margin:0 auto;
}
.follow__container  {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: solid 1px #42454d;
}
.follow_title {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  padding-right: 70px;
}
.follow__icon {
 padding-right: 35px;
}
.follow__icon1 {
  padding-right: 100px;
}
.sub__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.sub_title {
  padding: 0 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
.send {
  font-size: 12px;
  padding: 13px 23px;
  border: 0;
  background-color: #e84c3d;
  font-weight: 700;
  color: #fff;
}



/* Footer  */

.footer {
  display: grid;
  width: 990px;
  grid-template-columns: 155px 155px 155px 155px 250px ;
  margin: 0 auto;
  padding: 28px 0 2px;

}
.footer_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.3;
  color: #000;
  padding-bottom: 20px;
}
.number_title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}
.footer_list  {
  list-style-type: none;
  font-size: 12px;
  line-height: 2.3;
  font-weight: 400;
  padding-bottom: 15px;
}
.link_support {
  color: red;
  font-weight: 400;
 
}
.copyright {
  padding-top: 25px;
  font-size: 12px;
  font-weight: 400;
}








